.styling #nav .btn:hover,
.styling #nav .btn:focus,
.styling #nav .btn:active,
.styling .widget::before,
.styling .widget.widget_search button,
.styling .widget.recent-posts-widget .tab-head a.active,
.styling .widget.recent-posts-widget .tab-head a.active:hover,
.styling .widget.recent-posts-widget .tab-head a.active:active,
.styling .widget.recent-posts-widget .tab-head a.active:focus,
.styling .widget.recent-posts-widget .tag.hot::before,
.styling .widget .social-networks.justify a::before,
.styling .widget ul.social-networks.justify a::before,
.styling .subscribe-form button,
.styling .post-block time a,
.styling .masonry-blocks blockquote,
.styling .image-slider .btn-prev:hover,
.styling .image-slider .btn-prev:focus,
.styling .image-slider .btn-prev:active,
.styling .image-slider .btn-next:hover,
.styling .image-slider .btn-next:focus,
.styling .image-slider .btn-next:active,
.styling .comment-form input[type="button"],
.styling .comment-form input[type="submit"],
.styling .comment-form button[type="button"],
.styling .comment-form button[type="submit"],
.styling .btn-default:hover,
.styling .btn-default:focus,
.styling .btn-default:active,
.styling .switcher .slide.slick-current .slide-holder,
.styling .slideshow .title::before,
.styling .switcher .slide-holder:hover,
.styling #nav .navbar-toggle .icon-bar,
.styling .masonry-blocks time a::after,
.styling .masonry-blocks time span::after,
.styling .masonry-blocks time strong::after,
.styling #nav .drop a:hover:after,
.styling .side-nav h2 {
  background-color: #f5ab35;
}
.styling #back-top,
.styling #header .social-networks a:hover,
.styling .changer-opener .fa-cog,
.styling #header .social-networks a:focus,
.styling #header .social-networks a:active,
.styling #nav li.icon-li a:focus,
.styling #nav li.icon-li a:active,
.styling #nav li.icon-li.active a:hover,
.styling #nav li.icon-li.active a:focus,
.styling #nav li.icon-li.active a:active,
.styling #nav .icon-menu.active,
.styling .active #nav .icon-menu,
.styling #nav .icon-menu:hover,
.styling #nav .icon-menu:focus,
.styling #nav .icon-menu:active,
.styling .widget.contact-widget a:hover,
.styling .widget.contact-widget a:focus,
.styling .widget.contact-widget a:active,
.styling .widget.widget-block .social-networks a:hover,
.styling .widget.widget-block .social-networks a:active,
.styling .widget.widget-block .social-networks a:focus,
.styling .widget.widget_categories ul a:hover,
.styling .widget.widget_categories ul a:active,
.styling .widget.widget_categories ul a:focus,
.styling .widget.recent-posts-widget time a:hover,
.styling .widget.recent-posts-widget time a:active,
.styling .widget.recent-posts-widget time a:focus,
.styling .widget.profile-widget.version-ii .social-networks a:hover,
.styling .widget.profile-widget.version-ii .social-networks a:active,
.styling .widget.profile-widget.version-ii .social-networks a:focus,
.styling .version-ii .aside .footer-nav li.active a,
.styling .aside.version-ii .footer-nav li.active a,
.styling .version-iii .aside .footer-nav li.active a,
.styling .aside.version-iii .footer-nav li.active a,
.styling .version-ii .aside .footer-nav a:hover,
.styling .version-ii .aside .footer-nav a:focus,
.styling .version-ii .aside .footer-nav a:active,
.styling .aside.version-ii .footer-nav a:hover,
.styling .aside.version-ii .footer-nav a:focus,
.styling .aside.version-ii .footer-nav a:active,
.styling .version-iii .aside .footer-nav a:hover,
.styling .version-iii .aside .footer-nav a:focus,
.styling .version-iii .aside .footer-nav a:active,
.styling .aside.version-iii .footer-nav a:hover,
.styling .aside.version-iii .footer-nav a:focus,
.styling .aside.version-iii .footer-nav a:active,
.styling .aside .social-networks a:hover,
.styling .aside .social-networks a:active,
.styling .aside .social-networks a:focus,
.styling .footer-nav li.active a,
.styling .footer-nav a:hover,
.styling .footer-nav a:active,
.styling .footer-nav a:focus,
.styling #footer a:hover,
.styling #footer a:focus,
.styling #footer a:active,
.styling .policy-nav a:hover,
.styling .policy-nav a:focus,
.styling .policy-nav a:active,
.styling .read-more,
.styling .masonry-blocks .info a:hover,
.styling .masonry-blocks .info a:focus,
.styling .masonry-blocks .info a:active,
.styling .commentlist-item .name a:hover,
.styling .commentlist-item .name a:focus,
.styling .commentlist-item .name a:active,
.styling .commentlist-item .comment-reply-link:hover,
.styling .commentlist-item .comment-reply-link:active,
.styling .commentlist-item .comment-reply-link:focus,
.styling .breadcrumb a:hover,
.styling .breadcrumb a:focus,
.styling .breadcrumb a:active,
.styling .single-postv2 .info a:hover,
.styling .single-postv2 .info a:focus,
.styling .single-postv2 .info a:active,
.styling .page-error h1 .text-color,
.styling h2 a:hover,
.styling h2 a:active,
.styling h2 a:focus,
.styling h1 a:hover,
.styling h1 a:active,
.styling h1 a:focus,
.styling h3 a:hover,
.styling h3 a:active,
.styling h3 a:focus,
.styling h4 a:hover,
.styling h4 a:active,
.styling h5 a:hover,
.styling h5 a:active,
.styling h5 a:focus,
.styling h6 a:hover,
.styling h6 a:active,
.styling h6 a:focus,
.styling .slideshow .header a,
.styling .cols-holder time a,
.styling .link-more:hover,
.styling .link-more:active,
.styling .link-more:focus,
.styling .video-holder .ico-play:hover,
.styling .video-holder .ico-play:active,
.styling .video-holder .ico-play:focus,
.styling .page-error .comming-timer .countdown-amount {
  color: #f5ab35;
}
.styling .widget .social-networks.justify li.active a,
.styling .widget ul.social-networks.justify li.active a,
.styling .widget .social-networks.justify a:hover,
.styling .widget .social-networks.justify a:active,
.styling .widget .social-networks.justify a:focus,
.styling .widget ul.social-networks.justify a:hover,
.styling .widget ul.social-networks.justify a:active,
.styling .widget ul.social-networks.justify a:focus,
.styling .post-block blockquote,
.styling .commentlist-item .avatar-holder::before,
.styling #nav li a::after,
.styling #nav li.active a::after,
.styling #nav li a:hover::after,
.styling #nav li a:focus::after,
.styling #nav li a:active::after,
.styling .slideshow .header a::after,
.styling .switcher,
.styling #nav .navbar-toggle {
  border-color: #f5ab35;
}
.styling .side-nav h2:before {
  border-top-color: #f5ab35;
}
.styling .masonry-blocks blockquote:after {
  background: rgba(245, 171, 53, 0.7);
}
