@media (max-width: 551.98px) {
    .medium .fq {
      margin-top: 0.72em;
    }
    .medium .fp {
      font-size: 30px;
    }
    .medium .z {
      margin: 0 24px;
    }
    .medium .jv {
      line-height: 28px;
    }
    .medium .jl {
      margin-top: 1.56em;
    }
    .medium .ga {
      line-height: 40px;
    }
    .medium .gg {
      font-size: 18px;
    }
    .medium .gr {
      line-height: 24px;
    }
    .medium .gh {
      margin-top: 0.79em;
    }
    .medium .gy {
      margin-top: 32px;
    }
    .medium .hf {
      margin-bottom: 0px;
    }
    .medium .h {
      display: none;
    }
    .medium .hs {
      margin-left: 0px;
    }
    .medium .hr {
      margin-bottom: 30px;
    }
    .medium .kb {
      margin-top: 1.2em;
    }
    .medium .fp {
      font-size: 30px;
    }
    .medium .kk {
      margin-top: 0.67em;
    }
    .medium .lb {
      margin-top: 1.42em;
    }
    .medium .mw {
      margin-top: 1.23em;
    }
    .medium .mv {
      font-size: 24px;
    }
    .medium .nm {
      margin-top: 1.34em;
    }
    .medium .kkd {
      margin-top: 2em;
    }
    .medium .jjw {
      margin-top: 1.08em;
    }
    .medium .kkd {
      margin-top: 1.57em;
    }
    .medium .tjx {
      padding-top: 0px;
    }
    .medium .im {
      margin-top: 40px;
    }
    .medium iframe {
      height: 260px;
    }
    .medium .pw {
      margin-left: 16px;
    }
    .medium .pe {
      margin-right: 8px;
    }
    .medium .pd {
      margin-top: 2px;
    }
    .medium .qv {
      width: 15px;
    }
  }
  @media (max-width: 500px) and (min-width: 450px) {
    .medium iframe {
      height: 220px;
    }
  }
  @media (max-width: 450px) and (min-width: 400px) {
    .medium iframe {
      height: 200px;
    }
  }
  @media (max-width: 399.8px) {
    .medium iframe {
      height: 184px;
    }
  }
  @media (max-width: 727.98px) and (min-width: 552px) {
    .medium .fs {
      margin-top: 0.72em;
    }
    .medium .fr {
      font-size: 30px;
    }
    .medium .ab {
      margin: 0 24px;
    }
    .medium .jw {
      line-height: 28px;
    }
    .medium .jm {
      margin-top: 1.56em;
    }
    .medium .gb {
      line-height: 40px;
    }
    .medium .gi {
      font-size: 18px;
    }
    .medium .gs {
      line-height: 24px;
    }
    .medium .gj {
      margin-top: 0.79em;
    }
    .medium .gz {
      margin-top: 32px;
    }
    .medium .ha {
      flex-direction: column;
    }
    .medium .hu {
      margin-left: 0px;
    }
    .medium .kc {
      margin-top: 1.2em;
    }
    .medium .fr {
      font-size: 30px;
    }
    .medium .kl {
      margin-top: 0.67em;
    }
    .medium .lc {
      margin-top: 1.42em;
    }
    .medium .my {
      margin-top: 1.23em;
    }
    .medium .mx {
      font-size: 24px;
    }
    .medium .nn {
      margin-top: 1.34em;
    }
    .medium .kke {
      margin-top: 2em;
    }
    .medium .jjx {
      margin-top: 1.08em;
    }
    .medium .kke {
      margin-top: 1.57em;
    }
    .medium .tjy {
      padding-top: 0px;
    }
    .medium .in {
      margin-top: 40px;
    }
    .medium iframe {
      height: 335px;
    }
    .medium .px {
      margin-left: 16px;
    }
    .medium .pg {
      margin-right: 8px;
    }
    .medium .pf {
      margin-top: 2px;
    }
    .medium .qw {
      width: 15px;
    }
  }

  @media (max-width: 727.98px){
    .medium .g {
      display: none;
  }
    .medium .re {
      padding-top: 32px;
    }
    .medium .aq {
      display: block;
    }
    .medium .ri {
      align-items: center;
  }
    .medium .rh {
      margin-bottom: 24px;
  }
    .medium .al {
      display: flex;
  }
    .medium .rk {
      position: relative;
  }
    .medium .rj {
      width: 102px;
  }
    .medium .rn {
      padding-left: 0;
  }
    .medium .g {
      display: none;
  }
    .medium .rv {
      margin-top: 24px;
  }
    .medium .rz {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
    .medium .ry {
      padding-top: 25px;
  }
  }

  @media (max-width: 615px) and (min-width: 552px) {
    .medium iframe {
      height: 290px;
    }
  }
  @media (max-width: 903.98px) and (min-width: 728px) {
    .medium .fu {
      margin-top: 0.78em;
    }
    .medium .ft {
      font-size: 40px;
    }
    .medium .ac {
      margin: 0 48px;
    }
    .medium .jo {
      margin-top: 2em;
    }
    .medium .jn {
      font-size: 21px;
    }
    .medium .gc {
      line-height: 48px;
    }
    .medium .gt {
      line-height: 32px;
    }
    .medium .gl {
      margin-top: 0.79em;
    }
    .medium .gk {
      font-size: 24px;
    }
    .medium .hv {
      margin-left: 30px;
    }
    .medium .ke {
      margin-top: 1.95em;
    }
    .medium .kd {
      font-size: 34px;
    }
    .medium .km {
      margin-top: 0.86em;
    }
    .medium .ld {
      margin-top: 2.75em;
    }
    .medium .mz {
      font-size: 26px;
    }
    .medium .na {
      margin-top: 1.72em;
    }
    .medium .no {
      margin-top: 1.05em;
    }
    .medium .kkf {
      margin-top: 3.14em;
    }
    .medium .jjy {
      margin-top: 1.75em;
    }
    .medium .kkf {
      margin-top: 2.64em;
    }
    .medium .tjz {
      padding-top: 7px;
    }
    .medium .io {
      margin-top: 56px;
    }
    .medium iframe {
      height: 355px;
    }
    .medium .py {
      margin-right: 16px;
    }
    .medium .ph {
      margin-top: 5px;
    }
    .medium .qx {
      width: 15px;
    }
  }
  @media (max-width: 1079.98px) and (min-width: 904px) {
    .medium .fw {
      margin-top: 0.78em;
    }
    .medium .fv {
      font-size: 40px;
    }
    .medium .ae {
      margin: 0 64px;
    }
    .medium .jq {
      margin-top: 2em;
    }
    .medium .jp {
      font-size: 21px;
    }
    .medium .gd {
      line-height: 48px;
    }
    .medium .gu {
      line-height: 32px;
    }
    .medium .gn {
      margin-top: 0.79em;
    }
    .medium .gm {
      font-size: 24px;
    }
    .medium .hw {
      margin-left: 30px;
    }
    .medium .kg {
      margin-top: 1.95em;
    }
    .medium .kf {
      font-size: 34px;
    }
    .medium .kn {
      margin-top: 0.86em;
    }
    .medium .le {
      margin-top: 2.75em;
    }
    .medium .ls {
      text-align: center;
    }
    .medium .lr {
      margin-left: auto;
    }
    .medium .nc {
      margin-top: 1.72em;
    }
    .medium .nb {
      font-size: 26px;
    }
    .medium .np {
      margin-top: 1.05em;
    }
    .medium .kkg {
      margin-top: 3.14em;
    }
    .medium .jjz {
      margin-top: 1.75em;
    }
    .medium .kkg {
      margin-top: 2.64em;
    }
    .medium .tka {
      padding-top: 7px;
    }
    .medium .ip {
      margin-top: 56px;
    }
    .medium .pz {
      margin-right: 16px;
    }
    .medium .pi {
      margin-top: 5px;
    }
    .medium .qy {
      width: 25px;
    }
  }
  @media (min-width: 1080px) {
    .medium .fx {
      font-size: 40px;
    }
    .medium .fy {
      margin-top: 0.78em;
    }
    .medium .af {
      margin: 0 64px;
    }
    .medium .js {
      margin-top: 2em;
    }
    .medium .jr {
      font-size: 21px;
    }
    .medium .gv {
      line-height: 32px;
    }
    .medium .ge {
      line-height: 48px;
    }
    .medium .gp {
      margin-top: 0.79em;
    }
    .medium .go {
      font-size: 24px;
    }
    .medium .fx {
      font-size: 40px;
    }
    .medium .fl {
      max-width: 680px;
    }
    .medium .ai {
      width: 100%;
    }
    .medium .ah {
      min-width: 0;
    }
    .medium .hx {
      margin-left: 30px;
    }
    .medium .ki {
      margin-top: 1.95em;
    }
    .medium .kh {
      font-size: 34px;
    }
    .medium .ko {
      margin-top: 0.86em;
    }
    .medium .lf {
      margin-top: 2.75em;
    }
    .medium .ne {
      margin-top: 1.72em;
    }
    .medium .nd {
      font-size: 26px;
    }
    .medium .nq {
      margin-top: 1.05em;
    }
    .medium .kkh {
      margin-top: 3.14em;
    }
    .medium .kka {
      margin-top: 1.75em;
    }
    .medium .kkh {
      margin-top: 2.64em;
    }
    .medium .tkb {
      padding-top: 7px;
    }
    .medium .iq {
      margin-top: 56px;
    }
    .medium .qa {
      margin-right: 16px;
    }
    .medium .pj {
      margin-top: 5px;
    }
    .medium .qz {
      width: 25px;
    }
  }

  @media(prefers-reduced-motion: no-preference){
  .medium .qe {
      transition: border-color 150ms ease;
  }
  .medium .qt {
    transition: fill 200ms ease;
  }
}
